<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="template/mainTemplate.xhtml">
    <ui:define name="title">Book Group</ui:define>
    <ui:define name="content">
        <h1 class="pagetitle">Book Group</h1>
        <div class="account">
            <div class="rtinner_left_block">
                <p:growl globalOnly="true"/>
                <h:form>
                    <h:commandButton value="New" action="#{bookGroupBeanJsf.initCreate}"/>
                </h:form>

                <h:form id="manageNoticePanel">
                    <rich:dataTable id="dataBookGroup"
                                    value="#{bookGroupDataModelJsf.bookGroupDtos}"
                                    var="bookGroup"
                                    rowKeyVar="row">
                        <f:facet name="noData">
                            <h:outputText value="No records found" id="noRecords" style="color: red"/>
                        </f:facet>
                        <h:column><f:facet name="header">
                            <h:outputLabel value="S.No."/>
                        </f:facet>
                            <h:outputText value="#{row+1}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Name"/>
                            </f:facet>
                            <h:outputText value="#{bookGroup.name}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Description"/>
                            </f:facet>
                            <h:outputText value="#{bookGroup.description}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Created Date"/>
                            </f:facet>
                            <h:outputText value="#{bookGroup.createdDate}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Modified Date"/>
                            </f:facet>
                            <h:outputText value="#{bookGroup.lastUpdatedDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Created By"/>
                            </f:facet>
                            <h:outputText value="#{bookGroup.createdByAdminDto.firstName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Deleted By"/>
                            </f:facet>
                            <h:outputText value="#{bookGroup.createdByAdminDto.deletedByAdminUsername}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Deleted Reason"/>
                            </f:facet>
                            <h:outputText value="#{bookGroup.createdByAdminDto.deletedReason}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputLabel value="Actions"/>
                            </f:facet>
                            <h:commandLink styleClass="action edit" title="Edit" value=""
                                           action="#{bookGroupBeanJsf.initEdit}">
                                <f:setPropertyActionListener value="#{bookGroup}"
                                                             target="#{bookGroupDataModelJsf.bookGroupDto}"/>
                                <f:ajax execute="@this" onevent="function(data){showJqueryLoader(data)}"
                                        render="@form"/>
                            </h:commandLink>
                            <h:commandLink styleClass="action delete" title="Delete" value=""
                                           action="#{bookGroupBeanJsf.delete}"
                                           onclick="return confirm('Are you sure?')">
                                <f:setPropertyActionListener value="#{bookGroup}"
                                                             target="#{bookGroupDataModelJsf.bookGroupDto}"/>
                                <f:ajax execute="@this" onevent="function(data){showJqueryLoader(data)}"
                                        render="@form"/>
                            </h:commandLink>
                        </h:column>
                    </rich:dataTable>
                </h:form>
            </div>
        </div>

        <h:form id="formEditPanel">
            <rich:popupPanel show="#{bookGroupDataModelJsf.edit}" styleClass="customPop"
                             id="popupEditParent" domElementAttachment="form" autosized="true"
                             resizeable="false" moveable="true" onmaskclick="#{rich:component('popupEditParent')}.hide();">
                <div class="account">
                    <div class="rtinner_left_block">
                        <fieldset class="container-fluid">
                            <legend><h2>Create/Edit Book Group</h2></legend>
                            <p>
                                <h:outputLabel value="Name : "><span class="compulsoryField">*</span> </h:outputLabel>
                                <h:inputText id="inputName" required="true" requiredMessage="Enter Name"
                                             validatorMessage="Enter Valid Name!"
                                             value="#{bookGroupDataModelJsf.bookGroupDto.name}"/>
                                <h:message for="inputName" id="inputNameError" styleClass="redcolortext"/>
                            </p>
                            <p>
                                <h:outputLabel value="Description : "/>
                                <h:inputText id="inputDesc" required="true" requiredMessage="Enter Name"
                                             validatorMessage="Enter Valid Description!"
                                             value="#{bookGroupDataModelJsf.bookGroupDto.description}"/>
                                <h:message for="inputDesc" id="inputDescError" styleClass="redcolortext"/>
                            </p>
                        </fieldset>
                    </div>
                    <div class="rtinner_right_block">
                        <div class="Btn_block">
                            <p>
                                <h:commandButton id="btnEditParent" value="Save" action="#{bookGroupBeanJsf.saveUpdate}">
                                    <f:ajax execute="@form" onevent="function(data){handleDisableButton(data,'formEditPanel:btnEditParent')}" render="@form"/>
                                </h:commandButton>

                                <h:commandButton id="btnCancel" value="Cancel" action="#{bookGroupBeanJsf.navigateToPage()}" immediate="true">
                                    <f:ajax execute="@form" onevent="function(data){handleDisableButton(data,'formEditPanel:btnCancel')}" render="@form"/>
                                </h:commandButton>
                            </p>
                        </div>
                    </div>
                </div>
            </rich:popupPanel>
        </h:form>

    </ui:define>
</ui:composition>
</html>
